* {
    font-family: 'Pretendard';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
div {
    font-family: 'Pretendard';
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #070707;
    font-family: 'Pretendard';
    font-weight: 400;

    &:hover {
        color: #0a8e3f;
    }
}

ul,
li {
    list-style: none;
}

.afterdeco:after {
    content: "|";

}

body {


    #aboutMe {
       

        @media(min-width:1400px) {
            background-image: url(../img/aboutimg2.png);
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: 15% 0;
        }

       
    }

    #skills {
        .anibox {
            &.aos-animate {
                .imgbox {
                    &.htmlcss {
                        .graph {
                            &::before {
                                width: 95%;
                                transition: 2s;
                            }
                        }
                    }

                    &.scss {
                        .graph {
                            &::before {
                                width: 80%;
                                transition: 2s;
                            }
                        }
                    }

                    &.react {
                        .graph {
                            &::before {
                                width: 70%;
                                transition: 2s;
                            }
                        }
                    }

                    &.jquery {
                        .graph {
                            &::before {
                                width: 90%;
                                transition: 2s;
                            }
                        }
                    }

                    &.javascript {
                        .graph {
                            &::before {
                                width: 80%;
                                transition: 2s;
                            }
                        }
                    }

                    &.node {
                        .graph {
                            &::before {
                                width: 60%;
                                transition: 2s;
                            }
                        }
                    }

                    &.mysql {
                        .graph {
                            &::before {
                                width: 65%;
                                transition: 2s;
                            }
                        }
                    }

                    &.php {
                        .graph {
                            &::before {
                                width: 45%;
                                transition: 2s;
                            }
                        }
                    }

                    &.graphic {
                        .graph {
                            &::before {
                                width: 75%;
                                transition: 2s;
                            }
                        }
                    }
                }
            }

            .perbox {
                width: fit-content;

                h3 {
                    text-align: center;
                    font-size: 1.5rem;

                    &.bottomh3 {
                        font-size: 1.1rem !important;
                        height: 3rem;
                    }
                }

                .imgbox {
                    padding-bottom: 1rem;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    &.frontimgbox,
                    &.backimgbox,
                    &.etcimgbox,
                    &.certiimgbox,
                    &.commuimgbox {
                        img {
                            width: 40px;
                        }
                    }

                    &.certiimgbox {
                        img {
                            width: 60px;
                        }
                    }

                    .graph {
                        width: 50vw;
                        max-width: 500px;
                        height: 10px;
                        background-color: #fff;
                        position: relative;
                        border-radius: 10px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 10px;
                            background: linear-gradient(to left, #0a8e3f, #d6f0a7);
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    #interview {
        padding: 4rem 0;

        .accordion {
            padding: 3rem 0;

            .accordion-item {
                border: none;
                background-color: rgb(170, 210, 201, 0.25);

                .accordion-collapse {
                    background-color: #f9f9f9;

                    .accordion-body {
                        padding-top: 3rem;
                        padding-bottom: 3rem;
                    }
                }
            }

            .accordion-button {
                background-color: #fff;
                font-weight: 500;
                border-bottom: 1px solid #333;
            }

            .accordion-button:not(.collapsed) {
                font-size: 1.1rem;
                font-weight: 700;
                color: black;
                background-color: #fff;
            }

            .accordion-button:focus {
                box-shadow: none;
            }

            .accordion-button:not(.collapsed)::after {
                background-image: url(../img/SVG/interviewArrow.svg);
            }
        }
    }

    #portfolio {
        .swiper {
            .swiper-button-prev {
                background-image: url(../img/main_prev.png);
                height: 100px;
                opacity: 0.4;
            }

            .swiper-button-next {
                background-image: url(../img/main_prev.png);
                height: 100px;
                rotate: 180deg;
                opacity: 0.4;
            }

            .swiper-button-prev:hover,
            .swiper-button-next:hover {
                opacity: 1;
                transition: 0.5s;
            }

            .swiper-button-prev::after,
            .swiper-button-next::after {
                display: none;
            }

            .swiper-pagination {
                font-weight: 800;
                color: rgb(0, 0, 0, 0.5)
            }
        }
    }
}

#front {}