body{
    font-family: 'Inter', 'Noto Sans KR';
    font-weight: 400;
    a{
        text-decoration: none;
        color: #070707;
        font-family: 'Noto Sans KR';
        font-weight: 700;
    }
    ul, li{
        list-style: none;
    }

    #banner{
            .s1 {
                background-image: url(../img/slide1.jpg);
            }
            .s2 {
                background-image: url(../img/slide2.jpg);
            }
    }

    #skills{
        .skillbg0{
            width: 300px;
            height: 0;
            padding-top: 100%;
            .feBg{
                background-image: url(../img/sp_Skill.png);
                background-size: 800px auto;
                background-repeat: no-repeat;
            }
        }
        
    }
}

