body{
    font-family: 'Inter', 'Noto Sans KR';
    font-weight: 400;
    a{
        text-decoration: none;
        color: #070707;
        font-family: 'Noto Sans KR';
        font-weight: 700;
    }
    ul, li{
        list-style: none;
    }
    #banner{
            .s1 {
                background-image: url(../img/slide1.jpg);
            }
            .s2 {
                background-image: url(../img/slide2.jpg);
            }
    }

    #skills{
        
        
    }
}

