* {
  font-family: "Pretendard";
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, span, em {
  font-family: "Pretendard";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #070707;
  font-family: "Pretendard";
  font-weight: 400;
}

ul, li {
  list-style: none;
}

@media (min-width: 1400px) {
  body #aboutMe {
    background-image: url(../img/aboutimg2.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 15% 0;
  }
}
body #skills .anibox.aos-animate .imgbox.htmlcss .graph::before {
  width: 95%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.scss .graph::before {
  width: 80%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.react .graph::before {
  width: 70%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.jquery .graph::before {
  width: 90%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.javascript .graph::before {
  width: 80%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.node .graph::before {
  width: 60%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.mysql .graph::before {
  width: 65%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.php .graph::before {
  width: 45%;
  transition: 2s;
}
body #skills .anibox.aos-animate .imgbox.graphic .graph::before {
  width: 75%;
  transition: 2s;
}
body #skills .anibox .perbox {
  width: fit-content;
}
body #skills .anibox .perbox h3 {
  text-align: center;
  font-size: 1.5rem;
}
body #skills .anibox .perbox .imgbox {
  padding-bottom: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
body #skills .anibox .perbox .imgbox.frontimgbox img, body #skills .anibox .perbox .imgbox.commuimgbox img {
  width: 60px;
}
body #skills .anibox .perbox .imgbox.backimgbox img, body #skills .anibox .perbox .imgbox.etcimgbox img {
  width: 70px;
}
body #skills .anibox .perbox .imgbox.certiimgbox img {
  width: 75px;
}
body #skills .anibox .perbox .imgbox .graph {
  width: 50vw;
  max-width: 500px;
  height: 10px;
  background-color: #fff;
  position: relative;
}
body #skills .anibox .perbox .imgbox .graph::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: #0a8e3f;
  width: 0;
}
body #interview .accordion-item {
  background-color: rgba(170, 210, 201, 0.25);
}
body #interview .accordion-item .accordion-collapse {
  background-color: #efefef;
}
body #interview .accordion-button {
  background-color: #f5f5f5;
  font-weight: 500;
}
body #interview .accordion-button:not(.collapsed) {
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
  background-color: #f5f5f5;
  box-shadow: 0 0 0 0.25rem rgba(0, 145, 117, 0.25);
}
body #interview .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 145, 117, 0.25);
}
body #interview .accordion-button:not(.collapsed)::after {
  background-image: url(../img/SVG/interviewArrow.svg);
}
body #portfolio .swiper .swiper-button-prev {
  background-image: url(../img/main_prev.png);
  height: 100px;
  opacity: 0.4;
}
body #portfolio .swiper .swiper-button-next {
  background-image: url(../img/main_prev.png);
  height: 100px;
  rotate: 180deg;
  opacity: 0.4;
}
body #portfolio .swiper .swiper-button-prev:hover,
body #portfolio .swiper .swiper-button-next:hover {
  opacity: 1;
  transition: 0.5s;
}
body #portfolio .swiper .swiper-button-prev::after,
body #portfolio .swiper .swiper-button-next::after {
  display: none;
}
body #portfolio .swiper .swiper-pagination {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=sjh_style.css.map */