*{
    font-family: 'Pretendard';
    font-weight: 400;
}
body{
    h1, h2, h3, h4, h5, h6{
        font-family: 'Pretendard';
        font-weight: 400;
    }
    a{
        text-decoration: none;
        color: #070707;
        font-family: 'Pretendard';
        font-weight: 400;
    }
    ul, li{
        list-style: none;
    }
    #banner{
            .s1 {
                background-image: url(../img/slide1.jpg);
            }
            .s2 {
                background-image: url(../img/slide2.jpg);
            }
    }
    #interview{
        .accordion-item {
                background-color: rgb(170, 210, 201, 0.25);
            }
        
            .accordion-button {
                background-color: #f5f5f5;
                font-weight: 500;
            }
        
            .accordion-button:not(.collapsed) {
                font-size: 1.1rem;
                font-weight: 700;
                color: black;
                background-color: #f5f5f5;
                box-shadow: 0 0 0 0.25rem rgba(0, 145, 117, 0.25);
            }
        
            .accordion-button:focus {
                box-shadow: 0 0 0 0.25rem rgb(0, 145, 117, 0.25);
            }
            .accordion-button:not(.collapsed)::after{
                background-image: url(../img/SVG/interviewArrow.svg);
            }
    }
}

