/* .iconSize{
    font-size: 2rem;
    display: inline-block;
}
.titleSize{
    font-size: 1.3rem;
    color: #808080;
    font-weight: 700;
    display: inline-block;
}
.contentSize{
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.iconWidth{
    width: 25vw;
}

.box{
    display: flex;
    max-width: 14rem;
    width: 100%;
    margin: 0 auto;
} */

#box{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}
#imgSection{
    display: none;
}
@media(max-width:1399px){
    #imgSection{
        display: block;
        margin: 0 auto;
        max-width: 350px;
        width: 80vw;
        height: auto;
    }
    .mySwiper{
        width: 100%;
        height: auto;
    }
    #imgSection img{
        width: 100%;
        height: auto;
    }
}
@media(max-width:992px){
    .section{
        padding-top: 5rem;
    }
    #script {
            align-items: center;
            padding-top: 1.5rem;
            padding-left: 0 !important;
    }
    .icon {
        width: 25px !important;
        height: auto;
        margin: 0 auto;
    }
    #imgSection{
        display: block;
        margin: 0 auto;
        max-width: 250px;
        width: 80vw;
        height: auto;
    }
    .mySwiper{
        width: 100%;
        height: auto;
    }
    #imgSection img{
        width: 100%;
        height: auto;
    }
    #box{
        flex-direction: column;
        justify-content: center;
    }
    .nonetext {
        display: none;
    }
    .sub {
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    .main {
        text-align: center;
        line-height: 2rem;
    }
    .text0 {
        font-weight: 600;
    }
    .text1 {
        font-weight: 600;
    }
    .text2 {
        font-weight: 600;
    }
}

/* bg img */
.section{
    height: calc(100vh - 150px);
    background-color: #f4f4f4;
}

/* 자기pr 문구 */
.icon{
    width: 30px;
    height: auto;
    padding-bottom: 0.5rem;
}
#script{
    width: fit-content;
    max-width: 600px;
    padding-left: 1.5rem;
}
.text0{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    display: inline-block;
    white-space: nowrap;
}
.text1{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
}
.text2{
    font-size: clamp(1.4rem, 3vw, 2rem);
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
}
.highlight{
    position: relative;
    display: inline-block;
}
.mark{
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 100%;
    left: 0;
    top: 1rem;
    background-color: rgb(94, 198, 135, 0.3);
    border-radius: 25px;
}
.em{
    color: rgb(31, 141, 75);
    font-weight: 700;
}
.sub{
    font-size: clamp(1rem, 3vw, 1.1rem);
}
.sub p{
    font-weight: 600;
    padding: 0.25rem 0;
    display: inline-block;
}
.sub p span{
    font-weight: 400;
}
.sub p i{
    padding-right: 0.75rem;
    color: rgb(199, 206, 202);
}