/* .iconSize{
    font-size: 2rem;
    display: inline-block;
}
.titleSize{
    font-size: 1.3rem;
    color: #808080;
    font-weight: 700;
    display: inline-block;
}
.contentSize{
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.iconWidth{
    width: 25vw;
}

.box{
    display: flex;
    max-width: 14rem;
    width: 100%;
    margin: 0 auto;
} */

#box {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

#imgSection {
    display: none;
}

@media(max-width:1399px) {
    #imgSection {
        display: block;
        margin: 0 auto;
        max-width: 350px;
        width: 80vw;
        height: auto;
    }

    .mySwiper {
        width: 100%;
        height: auto;
    }

    #imgSection img {
        width: 100%;
        height: auto;
    }
}

@media(max-width:992px) {
    .icon {
        width: 25px !important;
        height: auto;
        margin: 0 auto;
    }

    #imgSection {
        display: block;
        margin: 0 auto;
        max-width: 250px;
        width: 80vw;
        height: auto;
    }

    .mySwiper {
        width: 100%;
        height: auto;
    }

    #imgSection img {
        width: 100%;
        height: auto;
    }

    #box {
        flex-direction: column;
        justify-content: center;
    }

    .nonetext {
        display: none;
    }

    .sub {
        margin: 0 auto;
        padding-top: 1.5rem;
    }

    .main {
        text-align: center;
        line-height: 2rem;
    }

    .text0 {
        font-weight: 600;
    }

    .text1 {
        font-weight: 600;
    }

    .text2 {
        font-weight: 600;
    }
}


/* bg img */
.section {
    height: calc(100vh - 150px);
    background-color: #f4f4f4;
}

@media(max-width:500px) {
    .section {
        height: fit-content;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

/* 자기pr 문구 */
.icon {
    width: 30px;
    height: auto;
    padding-bottom: 0.5rem;
}

#script {
    width: fit-content;
    max-width: 600px;
}

.text0 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    display: inline-block;
    white-space: nowrap;
}

.text1 {
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    font-size: 29px;
    color: #02421c;
    letter-spacing: -0.0085em;
}

.text2 {
    font-size: 73px;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
}

.highlight {
    position: relative;
    display: inline-block;
}

.mark {
    color: #392797
}

.mark:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    top: 1rem;
    background-color: #8071ca40;
}

.em {
    color: rgb(31, 141, 75);
    font-weight: 700;
}

.sub {
    font-size: clamp(1rem, 3vw, 1.1rem);
}

.sub p {
    font-weight: 600;
    padding: 0.25rem 0;
    display: inline-block;
}

.sub p span {
    font-weight: 400;
}

.sub p i {
    padding-right: 0.75rem;
    color: rgb(199, 206, 202);
}