.name{
    display: flex;
    color: black;
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #808080;
    padding-bottom: 0.3rem;
}

.iconSize{
    font-size: 2rem;
    display: inline-block;
}
.titleSize{
    font-size: 1.3rem;
    color: #808080;
    font-weight: 700;
    display: inline-block;
}
.contentSize{
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
}

.iconWidth{
    width: 25vw;
}

.box{
    display: flex;
    max-width: 14rem;
    width: 100%;
    margin: 0 auto;
}