.name{
    font-size: 2.5rem;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
@media(min-width : 1200px){
    .name{
        font-size: 3vw;
    }
}

.iconSize{
    font-size: 2rem;
    display: inline-block;
}
.titleSize{
    font-size: 1.3rem;
    color: rgb(67, 66, 66);
    font-weight: 500;
    display: inline-block;
}
.contentSize{
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
}

.iconWidth{
    width: 25vw;
}

.box{
    display: flex;
    max-width: 14rem;
    width: 100%;
    margin: 0 auto;
}