.iconSize{
    font-size: 2rem;
    display: inline-block;
}
.titleSize{
    font-size: 1.3rem;
    color: #808080;
    font-weight: 700;
    display: inline-block;
}
.contentSize{
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.iconWidth{
    width: 25vw;
}

.box{
    display: flex;
    max-width: 14rem;
    width: 100%;
    margin: 0 auto;
}


#imgSection{
    margin: 0 5rem;
}
#imgSection img{
    width: 350px;
    height: auto;
}
.icon{
    width: 30px;
    height: auto;
}

/* 자기pr 문구 */
.text0{
    font-size: 1.5rem;
}
.text1{
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
}
.text2{
    font-size: 2rem;
    font-weight: 700;
}
.highlight{
    position: relative;
    display: inline-block;
}
.mark{
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 100%;
    left: 0;
    top: 1rem;
    background-color: rgb(94, 198, 135, 0.3);
    border-radius: 25px;
}
.em{
    color: rgb(31, 141, 75);
    font-weight: 700;
}
.sub{
    font-size: 1.1rem;
}
.sub p{
    font-weight: 600;
    padding: 0.25rem 0;
}
.sub p span{
    font-weight: 400;
}
.sub p i{
    padding-right: 0.75rem;
    color: rgb(199, 206, 202);
}