.name{
    display: flex;
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid black;
}
.sub{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: gray;
}

/* 제안직무 체크박스 커스텀 */
.iconBox {
    position: relative;
    display: flex;
    justify-content: center;
    width: 120px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
    color: #646464;
    border-radius: 25px;
    transition: 0.3s;
    user-select: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.checkbox label input[type="checkbox"]:checked~.iconBox {
    background-color: white;
    border: 2px solid #5ec687;
    color: #2ca05a;
    font-weight: 700;
}

.iconBox span {
    margin: 5px;
}

.checkbox {
    width: 100%;
    max-width: 20rem;
}

@media(min-width:768px) {
    .checkbox {
        width: 100%;
        max-width: 40rem;
    }
}

.checkboxlist {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 10rem;
}

/* 메인 폼태그 */
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formsub{
    width: 50vw;
    max-width: 500px;
}
.mainCls{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgb(94, 198, 135);
}


/* 하단 submit 폼태그 */
.footerCls{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: 0;
    background-color: rgb(94, 198, 135, 0.75);
    color: white;
}





/* 개인정보약관 체크박스 커스텀 */
#submit [type="checkbox"]{
    display: none;
}
#submit [type="checkbox"]+label::before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 0.25rem;
    color: rgb(163, 158, 158);
}
#submit [type="checkbox"]:checked+label::before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    font-weight: 900;
    display: inline-block;
    margin-right: 0.25rem;
    color: #f3c500;
}

/* placeholder커스텀 */
input::placeholder {
    color: #646464;
    font-size: 0.9em;
    font-weight: 500;
}

input::-webkit-input-placeholder {
    color: #646464;
    font-size: 0.9em;
    font-weight: 500;
}

input:-ms-input-placeholder {
    color: #646464;
    font-size: 0.9em;
    font-weight: 500;
}