.white {
    fill: white;
}
.toggle {
    display: none;
}

@media(max-width:768px){
    .toggle {
        display: block;
        width: 5rem;
    }
    .snsbox {
        visibility: hidden;
    }
    #gnb {
        display: none;
    }
}
/* logo */
h1>a>img{
    display: block;
}
/* 반응형 햄버거메뉴 */
.hamMenu {
    background-color: rgba(19, 19, 19, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}
@media(max-width:500px){
    .hamMenu{
        height: 100vh;
    }
}

.hamLi {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.hamA {
    font-size: 2rem;
    color: white;
}
.hamA:hover{
    color: white;
}

.hamImg {
    z-index: 20;
}

/* 공지 시 탑 띠배너 */
.topBannerBg {
    /* background: linear-gradient(to bottom, #0b0b1e, #191665); */
    background-color: rgb(219, 236, 255);
    height: 2.5rem;
}

.topadTitle {
    font-weight: 300;
    font-size: 1.1rem;
    width: 100%;
}

.topadTitle::after {
    content: "클릭 시 이동합니다.";
    font-weight: 400;
    font-size: .9rem;
    padding-left: .5rem;
}

/* 메인 네비바 */
.FirstS{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    padding: 0 clamp(1rem, 2vw, 3rem);
    transition: 1s;
}
.AfterS{
    font-size: clamp(1rem, 2vw, 1.1rem);
    padding: 0 clamp(0.5rem, 2vw, 1.5rem);
    transition: 1s;
}

/* 로고 */
#logo a img{
    width: 10rem;
    height: auto;
}

/* sns */
.snsAd i {
    font-size: 2rem;
}
.snsicon{
    width: auto;
    height: 2rem;
}
.hamsnsicon{
    width: 30px;
    height: auto;
}
.hamsnsicontxt{
    font-size: 0.8rem;
}
.snsbox{
    width: 7rem;
    display: flex;
    justify-content: end;
}
.snsBetween{
    min-width: 120px;
    justify-content: space-between;
}
@media(max-width:768px){
    .snsicon{
        width: 30px;
        height: auto;
    }
    .snsbox{
        width: 5rem;
    }
    .snsBetween{
        width: 4.5rem;
    }
}



/* 스크롤 시 메뉴바 스타일 */
.FirstH {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 50px;
    top: 0;
    transition: .5s;
}

.AfterH {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    z-index: 2;
    transition: .75s;
    backdrop-filter: blur(10px);
}

.AfterH svg path,
.ulblock svg path {
    stroke: #fff;
}


.ulnone ul {
    display: none !important;
}