.navWidth{
    width: 50vw;
    max-width: 600px;
}

.topBannerBg{
    /* background: linear-gradient(to bottom, #0b0b1e, #191665); */
    background-color: rgb(219, 236, 255);
    height: 2.5rem;
}
.topadTitle{
    font-weight: 300;
    font-size: 1.1rem;
    width: 100%;
}

.topadTitle::after{
    content: "클릭 시 이동합니다.";
    font-weight: 400;
    font-size: .9rem;
    padding-left: .5rem;
}

.snsAd i{
    font-size: 1.5rem;
}
.snsAd span{
    font-size: .8rem;
}

.FirstH{
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        top: 0;
        transition: .5s;
}
.AfterH{
    position: fixed;
    background-color: rgb(37, 37, 37, 0.8);
    width: 100%;
    top: 0;
    z-index: 2;
    transition: .75s;
}