.section{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;
}
.box img{
    width: 80px;
    margin: 0.25rem;
}
.box a{
    display: block;
}

.topimg{
    justify-content: end;
}
.bottomimg{
    justify-content: end;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 0.25rem;
}
.text a{
    background-color: rgb(7, 79, 36);
    border-radius: 25px;
    padding: 0.25rem 1rem;
    color: white;
    font-size: 0.8rem;
}
.text p{
    margin: 0;
    font-size: 1.4rem;
    color: rgb(7, 79, 36);
}

.section{
    position: relative;
}
.bgimg{
    display: none;
}
/* a1.25 p2.3 */
@media(min-width:450px){
    .box img{
        width: 100px;
    }
}
@media(min-width:768px){
    .box img{
        width: 150px;
    }
    .bgimg{
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
    }
    .bgimg img{
        width: 300px;
        height: auto;
    }
    .section{
        max-width: 750px;
        margin: 0 auto;
        padding-top: 3rem;
    }
}
@media(min-width:992px){
    .box img{
        width: 200px;
    }
    .text a{
        font-size: 1.25rem;
    }
    .text p{
        font-size: 2.3rem;
    }
    .bgimg img{
        width: 400px;
    }
    .section{
        max-width: 1000px;
    }
}
