.sectionbg{
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.section{
    max-width: 1000px;
    margin: 0 auto;
}
.box img{
    width: 80px;
    margin: 0.25rem;
}
.box a{
    display: block;
}

.topimg{
    justify-content: end;
}
.bottomimg{
    justify-content: end;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 0.25rem;
}
.text a{
    background: linear-gradient(to right, #654ea3, #eaafc8);
    border-radius: 25px;
    padding: 0.25rem 1rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
}
.text a span{
    font-weight: 100;
}
.text p{
    margin: 0;
    font-size: 1.4rem;
    color: #654ea3;
    font-weight: 100;
}

.section{
    position: relative;
}
.bgimg {
    position: absolute;
    left: 0;
    bottom: 80%;
    display: block;
}
.bgimg img{
    width: 100px;
    height: auto;
}
/* a1.25 p2.3 */
@media(min-width:400px){
    .bgimg img {
        width: 200px;

    }
}
@media(min-width:450px){
    .box img{
        width: 100px;
    }
}
@media(min-width:600px){
    .sectionbg{
        padding-bottom: 11rem;
    }
    .bgimg {
            bottom: 0;
        }
    .bgimg img {
        width: 300px;
    }
}
@media(min-width:768px){
    .box img{
        width: 150px;
    }
    .section{
        max-width: 750px;
        margin: 0 auto;
        padding-top: 3rem;
    }
}
@media(min-width:992px){
    .box img{
        width: 200px;
    }
    .text a{
        font-size: 1.25rem;
    }
    .text p{
        font-size: 2.3rem;
    }
    .bgimg img{
        width: 400px;
    }
    .section{
        max-width: 1000px;
    }
}
