.sectionBg {
    /* background: linear-gradient(to bottom, rgb(216, 212, 200), white); */
    background-color: #d9e5dc;
}
.name{
    display: flex;
    color: rgb(32, 29, 29);
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #808080;
    padding-bottom: 0.3rem;
}

.p{
    margin-bottom: 0;
    line-height: 1.4rem;
}