.sectionBg {
    /* background: linear-gradient(to bottom, rgb(216, 212, 200), white); */
    background-color: #fff;
}
.name{
    display: flex;
    color: rgb(32, 29, 29);
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #808080;
    padding-bottom: 0.3rem;
}

.a{
    margin-bottom: 0;
    line-height: 22px;
    font-size: 18px;
    font-weight: 300;
    word-break: keep-all;
}
.q{
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 300;
    word-break: keep-all;
}
.strong{
    font-weight: 500;
}

@media(max-width:991px){
    .q{
        font-size: 18px;
    }
    .a{
        font-size: 15px;
    }
}