.sectionBg {
    background: linear-gradient(to bottom, rgb(216, 212, 200), white);}
.name{
    display: flex;
    color: rgb(32, 29, 29);
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #808080;
    padding-bottom: 0.3rem;
}
