.sectionBg{
    background-color: rgb(216, 212, 200);
}

/* 설명카드 */
.portfolioCard{
    background-color: white;
    display: inline-block;
    padding: 3rem 1rem;
}
.main{
    display: inline-block;
}
.listIcon{
    width: 0.25rem;
    height: 1.5rem;
    background-color: tomato;
    margin-right: 0.5rem;
}
.extitle{
    color: rgb(10, 142, 63);
    font-weight: 700;
    margin-bottom: 0;
}
.morelink{
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    margin: 1rem;
}
.excontents{
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
}
.frontendlogo{
    width: 4rem;
}