.sectionBg{
    /* background-color: rgb(216, 212, 200); */
    background-color: #f4f4f4;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.name {
    display: flex;
    color: black;
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #808080;
    padding-bottom: 0.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* 설명카드 */
.portfolioCard{
    position: relative;
    background-color: white;
    display: inline-block;
    padding: 1rem;
    min-width: 405px;
}
.main{
    display: inline-block;
}
.main p{
    line-height: 1.2rem;
}
.listIcon{
    width: 0.25rem;
    height: 1.5rem;
    background-color: tomato;
    margin-right: 0.5rem;
}
.extitle{
    color: rgb(10, 142, 63);
    font-weight: 700;
    margin-bottom: 0;
}
.morelink{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
}
.morelink img{
    width: 80px;
}
.excontents{
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
}
.frontendlogo{
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frontendlogo img{
    width: 3rem;
}
.bi{
    margin-right: 0.5rem;
    color: rgb(10, 142, 63, 0.3);
}
.linkstyle:hover{
    color: rgb(10, 142, 63);;
}

/* 스와이퍼 */
.slidelist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideimg{
    width: 900px;
}

@media(max-width:992px){
    .portfolioCard{
        width: 100%;
    }
}