.sectionBg{
    /* background-color: rgb(216, 212, 200); */
    background-color: #f9f9f9;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.name {
    display: flex;
    color: black;
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid #808080;
    padding-bottom: 0.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* 설명카드 */
.title{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.strongtxt{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.subtitle{
    padding-bottom: 0.5rem;
}
.portfolioCard{
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    min-width: 445px;
}
@media(max-width:991px){
    .portfolioCard{
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }
}
@media(max-width:767px){
    .portfolioCard{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media(max-width:575px){
    .portfolioCard{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.main{
    display: inline-block;
}
.main p{
    line-height: 1rem;
    font-size: 0.9rem;
}
.listIcon{
    width: 0.25rem;
    height: 1.5rem;
    background-color: tomato;
    margin-right: 0.5rem;
}
.extitle{
    color: rgb(128, 128, 128);
    font-weight: 300;
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: 0.5rem;
}
.extext{
    word-break: keep-all;
}
.plus::before{
    content: "+";
    padding-right: 0.25rem;
    color: #654ea3;
    display: block;
    line-height: 1rem;
}

.morelink{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
}
.morelink img{
    width: 80px;
}
.excontents{
    display: flex;
}
.frontendlogo{
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.frontendlogo img{
    width: 100%;
}
.bi{
    margin-right: 0.5rem;
    color: rgb(10, 142, 63, 0.3);
}

.linkstyle{
    display: block;
}
.exbutton{
    border: 1px solid #222;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.exbutton:hover{
    background-color: #222;
}
.exbutton:hover .linkstyle{
    color: #fff;
}

/* 스와이퍼 */
.slidelist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideimg{
    width: 900px;
}

@media(max-width:991px){
    .portfolioCard{
        width: 100%;
        min-width: 300px;
    }
}