*{
    font-family: 'Montserrat', 'Noto Sans KR';
    font-weight: 400;
    ul, li{
        list-style: none;
    }
    body a{
        color: black;
        text-decoration: none;
    }
    #hd{
        .container{
            #gnb{
                padding: 0;
                margin-bottom: 0;
                li{
                    a{  
                        font-size: 1.1rem;
                        &:hover{
                            color: rgb(225, 255, 0);
                        }
                    }
                }
                @media(min-width:768px){
                    li{
                            margin-left: 1rem;
                            margin-right: 1rem;
                    }
                }
                @media(min-width:992px){
                    li{
                            margin-left: 2.5rem;
                            margin-right: 2.5rem;
                    }
                }
            }
            #sns{
                margin-bottom: 0;
            }
        }
    }
    #slide{
        .swiper{
            height: 500px;
            .swiper-slide{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

    }
    #about{
        .about-background{
            height: 300px;
            width: 100vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .about-word{
                color: white;
                font-size: 2rem;
                p{
                    br{
                        display: none;
                        @media(max-width:767px){
                            display: block;
                        }
                    }
                }
                span{
                    display: block;
                    @media(max-width:767px){
                            display: none;
                        }
                }
            }
        }
    }
}
.vh-100{
    height: 100vh;
}
