.sectionBg{
    background: linear-gradient(to top, rgb(212, 201, 178), white);
}
.name{
    display: flex;
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid black;
}
.title{
    color: rgb(59, 61, 59);
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}
.box{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    height: fit-content;
    box-shadow: 5px 5px 15px rgb(32, 32, 32);
}
.con{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 44rem;
}
@media(max-width : 576px){
    .con{
        flex-wrap: nowrap;
        height: fit-content;
        align-items: center;
    }
}
@media(min-width : 1200px){
    .con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 26rem;
    }
}

.ani:hover{
    transform: scale(1.05);
    transition: 0.2s;
}