.title{
    color: rgb(59, 61, 59);
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}
.box{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    height: fit-content;
}
.imgcls{
    margin: 0 auto;
}
.con{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        height: 70rem;
}
@media(max-width : 576px){
    .con{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
@media(min-width : 1200px){
    .con{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: space-around;
        height: 50rem;
    }
}